/*	General Style */

/*	Include fonts*/
@font-face {
  font-family: "BebasNeue";
  src: url(fonts/BebasNeue.otf) format("opentype");
}
 @font-face {
  font-family: "CheesePizza";
  src: url(fonts/CheesePizza.ttf) format("truetype");
} 
 @font-face {
  font-family: "HelloGoodbye";
  src: url(fonts/HelloGoodbye.otf) format("opentype");
} 
 @font-face {
  font-family: "CuldeSac";
  src: url(fonts/CulDeSac.ttf) format("truetype");
} 
 @font-face {
  font-family: "OpenSans-Regular";
  src: url(fonts/OpenSans-Regular.ttf) format("truetype");
} 
 @font-face {
  font-family: "AveriaSerif-Regular";
  src: url(fonts/AveriaSerif-Regular.ttf) format("truetype");
} 


/*	New 03/29/15 */


/*	Global */

body {
	background-color: #000;
	color: #FFF;
	font-family: "AveriaSerif-Regular";
	overflow-x: hidden;
}
h2 {
	text-align: center;
}

/*	Head */

.head {
	text-align: center;
}
.main-title {
	display: inline;
	text-align: center;
}
.search-label {
	color: #0037FF;
}
.search {
	background-color: #D1E9FF;
}

/*	Channel List */

.channel-list_item {
	margin: 0.2em;
	font-family: "CheesePizza";
	letter-spacing: 0.2em;
}

/*	Footer */

footer {
	margin-top: 2em;
	color: #888;
}