 @font-face {
  font-family: "CuldeSac";
  src: url(fonts/CulDeSac.ttf) format("truetype");
} 
 @font-face {
  font-family: "CheesePizza";
  src: url(fonts/CheesePizza.ttf) format("truetype");
} 
 @font-face {
  font-family: "OpenSans-Regular";
  src: url(fonts/OpenSans-Regular.ttf) format("truetype");
} 
@font-face {
  font-family: "BebasNeue";
  src: url(fonts/BebasNeue.otf) format("opentype");
}
@font-face {
  font-family: "HelloGoodbye";
  src: url(fonts/HelloGoodbye.otf) format("opentype");
} 
body {
	background: none;
}
h1 {
	text-align: center;
	opacity: 0.8;
	background-color: black;
	color: white;
	font-family: CheesePizza, OpenSans;
}
#current-show-name {
	letter-spacing: 0.2em;

}
#current-show-description {
	font-family: OpenSans;
	font-size: 1.2em;
	padding: 0.2em;
}
#upcoming-headline {
	border: 0;
	border-radius: 20px;
	letter-spacing: 0.5em;
}
.event {
	opacity: 0.8;
	margin: 0.3em;
	background-color: #FFF;
	color: #000;
	border: 0.1em solid #000;
	border-radius: 10px;
}
.event p {
	margin-top: 0;
	margin-bottom: 0;
}
.name {
	font-size: 1.8em;
	font-weight: bold;
	margin-left: 0.5em;
	font-family: CheesePizza, Open-Sans;
	line-height: 1em;
}
.time {
	font-size: 1em;
	opacity: 0.8;
	margin-left: 1.5em;
	font-family: OpenSans;
	font-size: 1.4em;
	letter-spacing: 0.1em;
	line-height: 1em;
}
#appeal {
	opacity: 0.8;
	background-color: #000;
	color: #FFF;
	text-align: center;
}
#appeal-headline {
	font-size: 2em;
	letter-spacing: 0.2em;
}
.appeal {
	font-size: 1.4em;
	margin-top: 0;
	margin-bottom: 0;
	font-family: BebasNeue, Open-Sans;
}