/*
radio
*/

/*	Global */
body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #000000;
    background: url('/radio/resources/background-img/space.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#pageWrapper {
	height:100%;
}

/*	Left */
#navCnt {
	height:10vh;
	text-align: center;
}
#homeBtn {
	background-color: black;
	color: white;
}
.uploadOff {
	opacity: 33%;
}
#viewer {
	height: 85vh;
	width: 100%;
}
#uploadFrame {
	width: 100%;
	height: 50%;
}
#vocaFrame {
	width: 100%;
	height: 50%;
}
#chanFrame {
	width: 100%;
	height: 100%;
}
#tribuneFrame {
	width: 100%;
	height: 100%;
}
#assignmentFrame, #pulpFrame, #sumoFrame {
	width: 100%;
	height: 100%;
}
.instructions {
	text-align: center;
	width: 33%;
	margin-left: 33.3%;
}
.contribute {
	width: 50%;
	margin: 0 auto;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	display: block;
	border-radius: 15px;
   -moz-box-shadow:    inset 2px 2px 2px #FFF;
   -webkit-box-shadow: inset 2px 2px 2px #FFF;
   box-shadow:         inset 2px 2px 2px #FFF;
}
#currentLimit {
	font-size: 1.5em;	
	color: white;
	opacity: 0.9;
	text-align: center;
}


/*	Center */
#headline {
	height: 10vh;
}
#headline p {
	text-align: center;
	font-size: 2em;
	color: white;
	padding: 0.2em;
	border: 5px white solid;
	box-shadow: 0px 0px 50px;
	background-color: black;
}
#contentWindow {
	max-height: 90%;
	height: 85vh;
}
#youtubeFrame {
	width: 100%;
	height: 100%;
}
#imageCover {
	width: 100%;
	max-height: 90%;
}
#audioPlayer {
	width: 100%;
}
#requestContent {
	color: white;
	opacity: 0.8;
	text-align: center;
	width: 66%;
	margin: 0 auto;
	margin-top: 5em;
	padding: 0.5em;
	background-color: black;
	border: 3px white solid;
	border-radius: 50px;
}

/*	Right */
#chatHead {
	height: 10vh;
}
#chatHead p {
	color: white;
	padding:0.1em;
	border: 2px white solid;
	text-align: center;
	font-size: 2em;
}
#inputCnt {
	height: 5vh;
}
#chatBox {
	background-color: #000;
	height: 80vh;
	overflow-x: hidden;
}
.chatName, .timestamp, .chatMsg {
	color: white;
}
.chatName, .timestamp {
	display: inline-block;
}
.chatName {
	font-size: 1.3em;
}
.timestamp {
	opacity: 60%;
	font-size: 0.8em;
}
.chatName, .chatMsg {
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.chatMsg {
	display: block;
	margin-bottom: 0.4em;
	opacity: 0.9;
}