body {
	background: none;
}

/*	upload */
.instructions {
	text-align: center;
	width: 33%;
	margin-left: 33.3%;
}
.contribute {
	width: 50%;
	margin: 0 auto;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	display: block;
	border-radius: 15px;
   -moz-box-shadow:    inset 2px 2px 2px #FFF;
   -webkit-box-shadow: inset 2px 2px 2px #FFF;
   box-shadow:         inset 2px 2px 2px #FFF;
}
#uploadInfo {
	background-color: #000;
	opacity: 0.7;
}
.infoItem {
	font-size: 1.5em;	
	color: #FFF;
	opacity: 0.9;
	text-align: center;
	margin-bottom: 0;
}

/*	host */
#hostFormCnt {
	width: 66%;
	margin-left: 12%;
}
.itemInfo {	
	color: #000;
	margin: 0.2em;
	opacity: 0.8;
}
.hostSubmit {
	margin-left: 0;
	width: 30%;
}
#reloadQueue {
	width: 33%;
	height: 2em;
	font-size: 1.5em;
	margin-left: 33%;
	margin-bottom: 0.5em;
}
.queueItem {
	display: block;
}
.checkbox {
	width: 2em;
	height: 2em;
}
.note {
	margin-left: 4em;
}