 @font-face {
  font-family: "OpenSans-Regular";
  src: url(../resources/fonts/OpenSans-Regular.ttf) format("truetype");
} 
@font-face {
  font-family: "BebasNeue";
  src: url(../resources/fonts/BebasNeue.otf) format("opentype");
}
/*		    */
/*	gloabal */
/*		    */
body {
	background: none;
	font-family: BebasNeue;
	letter-spacing: 0.2em;
	font-size: 1.4em;
	line-height: 1em;
}
.input-group-addon {
	background-color: #6666FF;
	color: #FFF;
	font-weight: bold;
	min-width: 18em;
	font-family: BebasNeue;
	letter-spacing: 0.1em;
}
.form-cnt {
	width: 66%;
	margin-left: 12%;
}

/*		   */
/*	upload */
/*		   */
#uploadFormCnt .input-group-addon {
	background-color: #000;
	color: #FFF;
}
#uploadForm {
	opacity: 0.9;
}
input, textarea {
	font-family: OpenSans;
}
.uploadInput {
	opacity: 0.8;
	font-family: BebasNeue;
}
.uploadAddon {
	max-width: 10em;
}
.contribute {
	width: 33%;
	margin: 0 auto;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	display: block;
	border-radius: 15px;
	color: #FFF;
	background-color: #000;
   -moz-box-shadow:    inset 2px 2px 2px #FFF;
   -webkit-box-shadow: inset 2px 2px 2px #FFF;
   box-shadow:         inset 2px 2px 2px #FFF;
   font-family: BebasNeue;
   letter-spacing: 0.2em;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}
.contribute:hover {
	background-color: #4488DD;
	font-weight: bold;
}
.or {
	text-align: center;
	width: 33%;
	margin-left: 33.3%;
}
#uploadInfo {
	background-color: #000;
	opacity: 0.7;
}
.infoItem {
	font-size: 1.5em;	
	color: #FFF;
	opacity: 0.9;
	text-align: center;
	margin-bottom: 0;
	line-height: 1.5em;
}


/*		 */
/*	host */
/*		 */
#hostFormCnt {
	width: 66%;
	margin-left: 12%;
}
#hostFormCnt input, #hostFormCnt textarea {
	background-color: #DDD;
}
.itemInfo {	
	color: #000;
	margin: 0.2em;
	opacity: 0.8;
}
.passwordAddon {
	background-color: #448866;
}
.hostSubmit {
	margin-left: 0;
	width: 22.5em;
	background-color: #448866 !important;
	/* !important to prevent from taking on #hostFormCnt input backgound color*/
	font-size: 1.6em;
	font-family: BebasNeue;
}
.hostSubmit:hover {
	background-color: #FFF;
	color: #000;
}
.reloadQueue {
	width: 33%;
	height: 2em;
	font-size: 1.5em;
	margin-top: 1em;
	margin-left: 33%;
	margin-bottom: 0.5em;
}
.queueItem {
	display: block;
}
.checkbox {
	width: 2em;
	height: 2em;
	margin-left: 1em !important;
	/*	!important is needed for checkbox input to be positioned */
}
.hostOr {
	min-width: 18em;
}
.note {
	margin-left: 4em;
	margin-top: 0;
	margin-bottom: 0;
	font-family: OpenSans;
	font-size: 1.2em;
	letter-spacing: 0;
}
.note-lg {
	margin-left: 4em;
}

/*	When host is in iframe */
@media all and (max-width: 600px) {
	#hostFormCnt {
		width: 90% !important;
		margin-left: 5% !important;
		margin-left: 5% !important;
	}
	#hostFormCnt .input-group-addon, #hostFormCnt input, #hostFormCnt textarea{
		display: block;
	}
	.hostSubmit {
		width: 50% !important;
	}
	.reloadQueue {
		width: 30vw !important;
	}
	.note {
		margin-left: 0.5em !important;
	}
}

/*		  */
/*	login */
/*		  */
.login-btn {
	width: 12em;
	margin-top: 1em;
}