 @font-face {
  font-family: "OpenSans-Regular";
  src: url(../resources/fonts/OpenSans-Regular.ttf) format("truetype");
} 
@font-face {
  font-family: "BebasNeue";
  src: url(../resources/fonts/BebasNeue.otf) format("opentype");
}
/*		    */
/*	global */
/*		    */
body {
	background: none;
	font-family: BebasNeue;
	letter-spacing: 0.2em;
	font-size: 1.4em;
	line-height: 1em;
}
.input-group-addon {
	background-color: #6666FF;
	color: #FFF;
	font-weight: bold;
	min-width: 18em;
	font-family: BebasNeue;
	letter-spacing: 0.1em;
}
.form-cnt {
	width: 66%;
	margin-left: 12%;
}

/*		   */
/*	upload */
/*		   */
#uploadFormCnt .input-group-addon {
	background-color: #000;
	color: #FFF;
}
#uploadForm {
	opacity: 0.9;
}
input, textarea {
	font-family: OpenSans;
}
.uploadAddon {
	max-width: 50vw;
}
.uploadInput {
	opacity: 0.8;
	font-family: BebasNeue;
	width: 50vw !important;
}
.uploads-disabled {
	width: 100vw;
	height: 2.8em;
}

/*		 */
/*	host */
/*		 */
#hostFormCnt {
	width: 66%;
	margin-left: 12%;
}
#hostFormCnt input, #hostFormCnt textarea {
	background-color: #DDD;
}
.itemInfo {	
	color: #000;
	margin: 0.2em;
	opacity: 0.8;
}
.hostSubmit {
	margin-left: 0;
	width: 22.5em;
	background-color: #fff !important;
	color: #000;
	/* !important to prevent from taking on #hostFormCnt input backgound color*/
	font-size: 1.6em;
	font-family: BebasNeue;
}
.hostSubmit:hover {
	background-color: #000 !important;
	color: #fff;
}
.reloadQueue {
	width: 33%;
	height: 2em;
	font-size: 1.5em;
	margin-top: 1em;
	margin-left: 33%;
	margin-bottom: 0.5em;
}
.queueItem {
	display: block;
}
.checkbox {
	width: 2em;
	height: 2em;
	margin-left: 1em !important;
	/*	!important is needed for checkbox input to be positioned */
}
.hostOr {
	min-width: 18em;
}
.note {
	margin-left: 4em;
	margin-top: 0;
	margin-bottom: 0;
	font-family: OpenSans;
	font-size: 1.2em;
	letter-spacing: 0;
}
.note-lg {
	margin-left: 4em;
}

/*	When host is in iframe */
@media all and (max-width: 600px) {
	#hostFormCnt {
		width: 90% !important;
		margin-left: 5% !important;
		margin-left: 5% !important;
	}
	#hostFormCnt .input-group-addon, #hostFormCnt input, #hostFormCnt textarea{
		display: block;
	}
	.hostSubmit {
		width: 50% !important;
	}
	.reloadQueue {
		width: 30vw !important;
	}
	.note {
		margin-left: 0.5em !important;
	}
}

/*		  */
/*	login */
/*		  */
.login-btn {
	width: 12em;
	margin-top: 1em;
}

/*	Get Started */
/*			    */
/*			    */
.get-started {
	font-family: "CheesePizza";
}